.searchTitle {
    text-align: center;
    margin-bottom: 30px;
}

#resultsSection{
    margin-top:50px;
}

.panel-primary{
    border-color:black;

}
.panel-primary .panel-heading{
    background-color:lightgray;
}

.results{
    color: black;
    text-align: center;
    font-size: 30px;

}

