/* .footer {
    min-height: 100px;
    background: #E5E5E5;
    position: relative;
  } */

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    /* text-align: center; */
    padding:10px;
    height:40px;
 }
  
/* #copyright {
  margin-left:10px;
  display: inline-block;
  }
#authors {
    margin-left:100px;
    
    } */
    .left {float:left;}
    .right {float:right;}
 