.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    opacity:.9;
    height:auto;
 }

.left {
      text-align:center;
      margin-bottom:0px;
}

.right {
      text-align:center;
      margin-bottom:0px;
}
 

 
