.searchWelcome, .welcomeBanner { 
    text-align: center; 
    font-family: 'Patua One', cursive;
}

#emailBody #emailFrom #emailSubject{
    background-color: white; 
}

#welcomeNote { 
    width: 400px; 
    display: inline-block; 
    background-color: #f5f5f5; 
    padding: 15px; 
    border-radius: 10px; 
    font-family: 'Montserrat', sans-serif;


}

.welcomeDiv { 
    text-align: center; 
    background-color: 
}