.welcomeMsg{
    /* font-weight: 700; */
    font-family: 'Patua One', cursive;
    /* font-family: "Roboto Slab", "Times New Roman", serif; */
    text-align: center

}

.subText{
    text-align: center;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.container{
    margin-top:50px;
    margin-bottom:100px;
}

.searchBtn, .registerBtn, .signInBtn{
    background-color:#e81e17;
    border: solid 1px #e81e17;
}

.searchBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto; 
}

.registerBtn{
    margin-right:5px;
}

.registerBtn:hover, .signInBtn:hover, .searchBtn:hover { 
    background-color:#e81e17 !important;
    border: solid 1px #e81e17 !important;
}

.mainHeaders {
    font-family: 'Patua One', cursive;
    text-align: center; 
}

.signIn, .register {
    display: inline-block;
    align-items: center;
    justify-content: center;

}

.groupButtons {
    text-align: center; 
}

.pageContainers {
    min-height: 50px; 

};

