/* nav.navbar.navbar-default {
    margin-bottom: 0;
  }

  .nav{
    background-color: black;
} */
/* .navbar-default {
  background-color:teal;
  background-image: none;
  background-repeat: no-repeat;
 } */

@keyframes shine {
  from {
      -webkit-mask-position: 150%;
  }
  to {
      -webkit-mask-position: -50%;
  }
}

.customNav {
font-size: 50px;
font-family: 'Didact Gothic', sans-serif;
font-size: 5vh;
color: white;
-webkit-mask-image: linear-gradient(15deg, rgba(0, 0, 0, 0.6) 60%, #000 80%, rgba(0, 0, 0, 1) 90%);
-webkit-mask-size: 200%;
animation: shine 5s linear infinite;


}

/* .navbar-inverse{
  background: #ee6e73;
  color:white;
}

li .active{
  background:green;
} */